
input{
    width: 30%;
}
h2{
    color: blue;
}

#principal{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#buscador{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 30px;
    
}
.buscar{
    width: 50%;
    margin-top: 10px;
    margin-left: 10px;
}